<p>
  <strong>タイトル：</strong>
  <%= @post.title %>
</p>

<p>
  <strong>内容：</strong>
  <%= simple_format @post.text %>
</p>

<!-- 追加箇所 開始 -->
<h2>コメント</h2>
<% @post.comments.each do |comment| %>

  <p>
    <strong>コメンター：</strong>
    <%= comment.commenter %>
  </p>

  <p>
    <strong>コメント：</strong>
    <%= simple_format comment.body %>
  </p>
<% end %>
<!-- 追加箇所 終了 -->

<h2>コメントを追加</h2>
<%= form_for( [@post, @post.comments.build] ) do |f| %>
  <p>
    <%= f.label :commenter, "コメンター" %><br />
    <%= f.text_field :commenter %>
  </p>

  <p>
    <%= f.label :body, "コメント" %><br />
    <%= f.text_area :body, cols: 60, rows: 8 %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to '戻る', posts_path %>
| <%= link_to '編集', edit_post_path(@post) %>
